body{
    margin: 0;
    font-family: sans-serif;
    position: sticky;
    width: 50vw;
}
.container-main{
    background-color: white;
    width: 1519px;
    height: 800px;
}
.main-image{
    background-image: url(main\ image\ 2.webp);
    width: 1111px;
    height: 746px;
    padding-bottom: 20px;
}
.header-main-image{
    position: fixed;
    background-color: transparent;
    width: 1500px;
    height: 86px;
    display: flex;
    flex-direction: row;
}
.logo{
    background-color: transparent;
    width: 200px;
    height: 60px;
}
.button-solid{
    border: none;
}
button{
    color: aliceblue;
    background-color:transparent;
    font-size: 13px;
    line-height: 18.4px;
    text-align: start;
    letter-spacing: 10px;
    margin-left: 43px;
    margin-top: 13px;
}
.header-menu{
    font-size: 10px;
    color: white;
    background-color:transparent;
    width: 250px;
    height: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 22px;
    text-align: left;
    letter-spacing: normal;
}
.search-area{
    width: 300px;
    height: 30px;
    margin-left: 743px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-area  h2{
    color: black;
    line-height: 22.4px;
    text-align: centr;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: 300;
}
.main-image-right{
     margin-left: 1150px;
    width: 350px;
    height: 300px;
    background-color: white;
    padding-top: 260px;
}
.main-image-right-title{
    width: 300px;
    height: 30px;
}
.main-image-right-title h3{
    font-size: 16px;
    line-height: 28px;
}
.main-image-right-subtitle{
    width: 300px;
    height: 60px;
    font-size: 16px;
    color: black;
    line-height: 35px;
    text-align: start;
    line-height: normal;
}
.main-image-right-subtitle h1{
    font-size: 28px;
    line-height: 35px;
    font-weight: 300;
}
.link-area{
    margin-top: 40px;
    width: 300px;
    height: 30px;
    color: black;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 20px;
    text-align: start;
}
.article-area{
    width: 1500px;
    height: 350px;
    display: flex;
    justify-content: space-around;
}
.article-area-left{
    background-color: rgb(20, 18, 18);
    width: 400px;
    height: 313px;
    display: flex;
    justify-content: right;
    background-image: url(keyborad\ image.png);
}
.article-area-left-text{
    background-color: white;
    width: 200px;
    height: 313px;
}
.article-area-left-title{
    margin-left: 37px;
    width: 200px;
    height: 11px;
    margin-top: 85px;
}
.article-area-left-title h3{
    font-size: 16px;
    line-height: 24px;
}
.article-area-left-subtitle{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-left: 37px;
}
.article-area-left-subtitle h4{
    font-size: 14px;
    font-weight: 100;
}
.article-area-left-text a{
    font-size: 13px;
    text-decoration: none;
    margin-left: 37px;
}
.article-area-left-text a:hover{
    text-decoration: underline;
}
.article-area-middle{
    background-image: url(WhatsApp_Image_2022-04-11_at_3.53.14_PM_400x.jpg);
    width: 400px;
    height: 313px;
    display: flex;
    justify-content: right;
}
.article-area-middle-text{
    background-color: aliceblue;
    width: 200px;
    height: 313px;
}
.article-area-middle-text-title{
    margin-left: 37px;
    width: 200px;
    height: 11px;
    margin-top: 85px;
}
.article-area-middle-text-title h1{
    font-size: 16px;
}
.article-area-middle-text-subtitle{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-left: 37px;
}
.article-area-middle-text-subtitle h2{
    font-size: 14px;
    font-weight: 100;
}
.article-area-middle-text a{
    font-size: 13px;
    text-decoration: none;
    margin-left: 37px;
}
.article-area-middle-text a:hover{
    text-decoration: underline;
}
.article-area-right{
    background-image: url(Journal_HowIt_sMade_Small2_400x.jpg);
    width: 400px;
    height: 313px;
    display: flex;
    justify-content: right;
}
.article-area-right-text{
    background-color: aliceblue;
    width: 200px;
    height: 313px;
}
.article-area-right-text-title{
    margin-left: 37px;
    width: 200px;
    height: 11px;
    margin-top: 85px;
}
.article-area-right-text-title h1{
      font-size: 16px;
}
.article-area-right-text-subtitle{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-left: 37px;
 }
.article-area-right-text-subtitle h1{
    font-size: 14px;
    font-weight: 100;
}
.article-area-right a{
    font-size: 13px;
    text-decoration: none;
    margin-left: 37px;
}
.article-area-right a:hover{
    text-decoration: underline;
}
.favlist-area-header{
    width: 100%;
    height: 50px;
    margin-left: 50px;
}
.favlist-area-header h1{
    font-size: 28px;
    font-weight: 100;
}
.favlist{
    width: 1455px;
    height: 520px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.favlist-left{
    background-image: url(favlist\ 1.png);
    width: 458px;
    height: 520px;
}
.favlist-middle{
    background-image: url(favlist\ 2.png);
    width: 458px;
    height: 520px;
}
.favlist-right{
    background-image: url(favlist-3.png);
    width: 458px;
    height: 520px;
}
.favlist-price{
    width: 1455px;
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.fav-left-price{
   width: 400px;
   height: 60px;
}
.fav-left-price{
    font-size: 13px;
    line-height: 20px;
    text-align: start;
    letter-spacing: normal;
}
.fav-middle-price{
    width: 400px;
    height: 60px;
}
.fav-middle-price h1{
    color: black;
    font-size: 13px;
    line-height: 20px;
    text-align: start;
    letter-spacing: normal;
}
.fav-right-price{
    width: 458px;
    height: 60px;
}
.fav-right-price h1{
    color: black;
    font-size: 13px;
    line-height: 20px;
    text-align: start;
    letter-spacing: normal;
}
.shop-area{
    width: 1439px;
    height: 573px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}
.shop-area-left{
    background-image: url(shop\ left.png);
    width: 703px;
    height: 573px;
}
.shop-area-right{
    background-image: url(shop\ right.png);
    width: 703px;
    height: 573px;
}
.shop-area-name{
    width: 1439px;
    height: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    
}
.shop-area-name-left{
    width: 600px;
    height: 40px;
}
.shop-area-name-left h1{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    font-weight: 500;
}
.shop-area-name-left h1:hover{
    text-decoration: underline;
}
.shop-area-name-left h2{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    font-weight: 100;
}
.shop-area-name-right{
    width: 600px;
    height: 40px;
    padding-right: 110px;
}
.shop-area-name-right h1{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    font-weight: 500;
}
.shop-area-name-right h1:hover{
    text-decoration-line: underline;
}
.shop-area-name-right h2{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    font-weight: 100;
}
.last-part{
    width: 1439px;
    height: 180px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.last-part-about{
    width: 458px;
    height: 193px;
   
}
.last-part-about h1{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    letter-spacing: normal;
    font-weight: 100;
}
.last-part-address{
    width: 213px;
    height: 193px;
}
.last-part-address h1{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    letter-spacing: normal;
    font-weight: 100;
}
.last-part-contact{
    width: 213px; ;
    height: 193px;
}
.last-part-contact h4{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    letter-spacing: normal;
    font-weight: 100;
}
.last-part-info{
    width: 213px;
    height: 193px;
}
.last-part-info h4{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    letter-spacing: normal;
    font-weight: 100;
}
.last-part-follow{
    width: 213px;
    height: 193px;
}
.last-part-follow h1{
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    letter-spacing: normal;
    font-weight: 100;
}
.conclusion-part{
    width: 1439px;
    height: 88px;
    margin-left: 40px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.conclusion-part-inside{
    width: 900px;
    height: 35px;
    display: flex;
    flex-direction: row;
}
.conclusion-part-join{
    width: 800px;
    height: 27px;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    display: flex;
    flex-direction: row;
}
.conclusion-part-underline{
    margin-left: 40px;
    width: 355px;
    height: 27px;
}
.underline input{
    width: 350px;
    outline: 0;
    border-width: 0 0 1px 0;
}
.submit-part{
    margin-left: 80px;
    width: 200px;
    height: 25px;
    margin-left: 30px;
    border-width: 0 0 1px 0;
}

.submi{
    background-color: transparent;
    padding: 0 0 6px;
    font: 500 13px Graphik,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 13px;
    line-height: normal;
    border-width: 0 0 1px 0;
}
.conclusion-part-otherside{
    margin-right: 296px;
    background-image: url(Screenshot\ 2022-10-07\ 223520.png);
    width: 372px;
    height: 60px;
}
.privacy-part{
    margin-left: 40px;
    width: 710px;
    height: 22px;
}
.privacy-part h1{
    font-size: 11px;
    text-align: start;
    line-height: 18px;
    color: #bebebe;
    font-weight: 100;
}
.country-button{
    margin-top: 20px;
    width: 300px;
    height: 80px;
    margin-left: 40px;
    margin-left: 35px;
}
.theselect{
    background-color: whitesmoke;
    border-radius: 1px !important;
    border: 0 !important;
    color: #333 !important;
     font-size: 16px !important;
    line-height: 1.375 !important;
    padding: 0.3em 50px 0.9em 0.5em !important;  
    text-align: start;  
}



